In [3]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
import pandas as pd
import numpy as np
from torch import optim
from sklearn import preprocessing
import math
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.metrics import median_absolute_error

In [20]:
rawdat = pd.read_csv('C:\\Users\\dusti\\iCloudDrive\\Studium WI\\WS2019\\KI\\rawdat.csv', sep = ';')

In [21]:
rawdat = rawdat[['HomeTeam','AwayTeam','FTHG','FTAG','FTR','HTR','HS','AS','HST','AST']]

In [22]:
rawdat.head()

      HomeTeam    AwayTeam  FTHG  FTAG FTR HTR  HS  AS  HST  AST
0  Aston Villa       Wigan     0     2   A   A  11  14    5    7
1    Blackburn    Man City     0     2   A   A  17   8    9    5
2       Bolton  Sunderland     0     1   A   A  11  20    3   13
3      Chelsea        Hull     2     1   H   D  26   7   12    3
4      Everton     Arsenal     1     6   A   A   8  15    5    9

In [43]:
def windrawloseHomeAway(data, outDataList):
    data = data[['HomeTeam', 'AwayTeam', 'FTR']]
    data['FTRH']= pd.Series(np.zeros(len(data['FTR'])))
    data['FTRA']= pd.Series(np.zeros(len(data['FTR'])))
    i = 0
    for row in data.itertuples():
        ftr = row.FTR
        if (ftr == 'H'):
            ftrH = 3
            hrtA = 0
        if (ftr == 'A'):
            ftrH = 0
            ftrA = 3
        if (ftr == 'D'):
            ftrH = 1
            ftrA = 1
        data.set_value(i,'FTRH', ftrH)
        data.set_value(i, 'FTRA', ftrA)
        i = i+1
    outData = data[['HomeTeam', 'AwayTeam', 'FTRH', 'FTRA']]
    outDataList.append(outData)

In [44]:
liste = [] 
windrawloseHomeAway(rawdat, liste)

C:\Users\dusti\Anaconda3\envs\DustinKI\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\dusti\Anaconda3\envs\DustinKI\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\dusti\Anaconda3\envs\DustinKI\lib\site-packages\ipykernel_launcher.py:17: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
C:\Users\dusti\Anaconda3\envs\DustinKI\lib\site-packages\ipykernel_launcher.py:18: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [32]:
rawdat.head()

      HomeTeam    AwayTeam  FTHG  FTAG FTR HTR  HS  AS  HST  AST
0  Aston Villa       Wigan     0     2   A   A  11  14    5    7
1    Blackburn    Man City     0     2   A   A  17   8    9    5
2       Bolton  Sunderland     0     1   A   A  11  20    3   13
3      Chelsea        Hull     2     1   H   D  26   7   12    3
4      Everton     Arsenal     1     6   A   A   8  15    5    9